### Import the required library

In [2]:
import pandas as pd

### Import the data files

Set the working directory

In [3]:
pwd

'C:\\Users\\Dell'

In [4]:
cd D:\nifty50 and niftynext50 data

D:\nifty50 and niftynext50 data

Read the csv files

In [5]:
nifty50_sep=pd.read_csv("nifty50_sep.csv", index_col=0)
nifty50_oct=pd.read_csv("nifty50_oct.csv", index_col=0)
nifty50_nov=pd.read_csv("nifty50_nov.csv", index_col=0)
nifty50_dec=pd.read_csv("nifty50_dec.csv", index_col=0)
nifty50_jan=pd.read_csv("nifty50_jan.csv", index_col=0)
nifty50_feb=pd.read_csv("nifty50_feb.csv", index_col=0)
niftynext50_sep=pd.read_csv("niftynext50_sep.csv", index_col=0)
niftynext50_oct=pd.read_csv("niftynext50_oct.csv", index_col=0)
niftynext50_nov=pd.read_csv("niftynext50_nov.csv", index_col=0)
niftynext50_dec=pd.read_csv("niftynext50_dec.csv", index_col=0)
niftynext50_jan=pd.read_csv("niftynext50_jan.csv", index_col=0)
niftynext50_feb=pd.read_csv("niftynext50_feb.csv", index_col=0)

In [6]:
nifty50_sep.head(20)

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25883.17,0.59,1.27,0.25,1.85,-14.158946,0.05
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,58304.93,1.34,0.74,0.16,1.55,-5.767059,0.03
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,108698.56,2.50,1.34,0.22,1.66,-5.544859,0.03
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,36549.99,0.84,1.02,0.21,1.86,-2.091189,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,51374.45,1.18,1.24,0.19,2.52,-24.105580,0.03
6,BAJAJFINSV,Bajaj Finserv Ltd.,FINANCE,795675485,36320.29,0.83,1.22,0.25,2.14,-10.990249,0.04
7,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES,21692527440,29218.53,0.67,1.04,0.12,2.39,3.327810,0.02
8,BHARTIARTL,Bharti Airtel Ltd.,TELECOMMUNICATION - SERVICES,19987000535,44659.55,1.03,1.25,0.15,2.08,-11.801485,0.04
9,INFRATEL,Bharti Infratel Ltd.,TELECOMMUNICATION - EQUIPMENT,18496082460,22372.31,0.51,0.64,0.05,2.19,-8.347856,0.04
10,CIPLA,Cipla Ltd.,PHARMACEUTICALS,1610433594,33179.08,0.76,0.86,0.13,1.37,-1.223288,0.03
11,COALINDIA,Coal India Ltd.,MINING,62074091770,36359.90,0.83,0.55,0.05,1.81,-6.889316,0.04
12,DRREDDY,Dr. Reddy's Laboratories Ltd.,PHARMACEUTICALS,830149400,30671.94,0.70,0.69,0.06,1.78,1.550963,0.03
13,EICHERMOT,Eicher Motors Ltd.,AUTOMOBILES - 4 WHEELERS,272677000,32974.01,0.76,0.88,0.14,2.31,-13.807500,0.02
14,GAIL,GAIL (India) Ltd.,GAS,22550709330,34186.88,0.78,0.75,0.08,1.62,1.826975,0.03
15,GRASIM,Grasim Industries Ltd.,CEMENT AND CEMENT PRODUCTS,1315182576,40303.77,0.93,1.19,0.22,1.80,-4.309133,0.03
16,HCLTECH,HCL Technologies Ltd.,COMPUTERS - SOFTWARE,2785043328,60591.40,1.39,0.36,0.02,1.15,3.951455,0.02
17,HDFCBANK,HDFC Bank Ltd.,BANKS,5429877072,430257.89,9.88,0.76,0.27,1.13,-2.675626,0.02
18,HEROMOTOCO,Hero MotoCorp Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,399422910,38077.24,0.87,0.72,0.13,2.03,-9.851558,0.02
19,HINDALCO,Hindalco Industries Ltd.,ALUMINIUM,2245349407,33516.89,0.77,1.72,0.27,2.44,-3.488128,0.03
20,HINDPETRO,Hindustan Petroleum Corporation Ltd.,REFINERIES,15238226250,18775.09,0.43,1.16,0.12,2.33,-0.925926,0.03

### Sorting the dataframes in descending order by 'Monthly Return'

In [132]:
nifty50_sep_byperformance=nifty50_sep.sort_values(by='Monthly Return', ascending=False)
nifty50_oct_byperformance=nifty50_oct.sort_values(by='Monthly Return', ascending=False)
nifty50_nov_byperformance=nifty50_nov.sort_values(by='Monthly Return', ascending=False)
nifty50_dec_byperformance=nifty50_dec.sort_values(by='Monthly Return', ascending=False)
nifty50_jan_byperformance=nifty50_jan.sort_values(by='Monthly Return', ascending=False)
nifty50_feb_byperformance=nifty50_feb.sort_values(by='Monthly Return', ascending=False)
niftynext50_sep_byperformance=niftynext50_sep.sort_values(by='Monthly Return', ascending=False)
niftynext50_oct_byperformance=niftynext50_oct.sort_values(by='Monthly Return', ascending=False)
niftynext50_nov_byperformance=niftynext50_nov.sort_values(by='Monthly Return', ascending=False)
niftynext50_dec_byperformance=niftynext50_dec.sort_values(by='Monthly Return', ascending=False)
niftynext50_jan_byperformance=niftynext50_jan.sort_values(by='Monthly Return', ascending=False)
niftynext50_feb_byperformance=niftynext50_feb.sort_values(by='Monthly Return', ascending=False)

### Extracting top 5 stocks

In [133]:
nifty50_sep_topstocks=nifty50_sep_byperformance.iloc[:5,[1,5,9]]
nifty50_oct_topstocks=nifty50_oct_byperformance.iloc[:5,[1,5,9]]
nifty50_nov_topstocks=nifty50_nov_byperformance.iloc[:5,[1,5,9]]
nifty50_dec_topstocks=nifty50_dec_byperformance.iloc[:5,[1,5,9]]
nifty50_jan_topstocks=nifty50_jan_byperformance.iloc[:5,[1,5,9]]
nifty50_feb_topstocks=nifty50_feb_byperformance.iloc[:5,[1,5,9]]
niftynext50_sep_topstocks=niftynext50_sep_byperformance.iloc[:5,[1,5,9]]
niftynext50_oct_topstocks=niftynext50_oct_byperformance.iloc[:5,[1,5,9]]
niftynext50_nov_topstocks=niftynext50_nov_byperformance.iloc[:5,[1,5,9]]
niftynext50_dec_topstocks=niftynext50_dec_byperformance.iloc[:5,[1,5,9]]
niftynext50_jan_topstocks=niftynext50_jan_byperformance.iloc[:5,[1,5,9]]
niftynext50_feb_topstocks=niftynext50_feb_byperformance.iloc[:5,[1,5,9]]

### Serialise

In [134]:
nifty50_sep_topstocks=nifty50_sep_topstocks.set_index('Security Name')
nifty50_oct_topstocks=nifty50_oct_topstocks.set_index('Security Name')
nifty50_nov_topstocks=nifty50_nov_topstocks.set_index('Security Name')
nifty50_dec_topstocks=nifty50_dec_topstocks.set_index('Security Name')
nifty50_jan_topstocks=nifty50_jan_topstocks.set_index('Security Name')
nifty50_feb_topstocks=nifty50_feb_topstocks.set_index('Security Name')
niftynext50_sep_topstocks=niftynext50_sep_topstocks.set_index('Security Name')
niftynext50_oct_topstocks=niftynext50_oct_topstocks.set_index('Security Name')
niftynext50_nov_topstocks=niftynext50_nov_topstocks.set_index('Security Name')
niftynext50_dec_topstocks=niftynext50_dec_topstocks.set_index('Security Name')
niftynext50_jan_topstocks=niftynext50_jan_topstocks.set_index('Security Name')
niftynext50_feb_topstocks=niftynext50_feb_topstocks.set_index('Security Name')

### Final Output

#### 1. Nifty50 top stocks: September 2018

In [135]:
nifty50_sep_topstocks

                                   Weightage (%)  Monthly Return
Security Name
Wipro Ltd.                                  0.84        7.551867
Tata Consultancy Services Ltd.              5.38        5.066397
HCL Technologies Ltd.                       1.39        3.951455
Bharat Petroleum Corporation Ltd.           0.67        3.327810
Vedanta Ltd.                                0.99        2.020202

#### 2. Nifty50 top stocks: October 2018

In [136]:
nifty50_oct_topstocks

                                    Weightage (%)  Monthly Return
Security Name
ICICI Bank Ltd.                              5.52           16.18
Bajaj Finance Ltd.                           1.36            9.90
State Bank of India                          2.55            5.99
Titan Company Ltd.                           0.85            4.84
Zee Entertainment Enterprises Ltd.           0.61            2.85

#### 3. Nifty50 top stocks: November 2018

In [137]:
nifty50_nov_topstocks

                                            Weightage (%)  Monthly Return
Security Name
Bharat Petroleum Corporation Ltd.                    0.59           17.92
Maruti Suzuki India Ltd.                             2.35           15.80
Adani Ports and Special Economic Zone Ltd.           0.66           14.68
IndusInd Bank Ltd.                                   1.93           14.50
UltraTech Cement Ltd.                                0.96           14.30

#### 4. Nifty50 top stocks: December 2018

In [138]:
nifty50_dec_topstocks

                                      Weightage (%)  Monthly Return
Security Name
Indiabulls Housing Finance Ltd.                0.65           19.32
Bharat Petroleum Corporation Ltd.              0.67           11.82
Power Grid Corporation of India Ltd.           1.05           10.27
Hindustan Petroleum Corporation Ltd.           0.44            9.00
Bajaj Finserv Ltd.                             0.90            8.05

#### 5. Nifty50 top stocks: January 2019

In [139]:
nifty50_jan_topstocks

                          Weightage (%)  Monthly Return
Security Name
Axis Bank Ltd.                     2.96           16.58
Infosys Ltd.                       6.57           13.75
Bharti Infratel Ltd.               0.57           12.84
Wipro Ltd.                         0.96           11.59
Reliance Industries Ltd.           9.69            9.44

#### 6. Nifty50 top stocks: February 2019

In [140]:
nifty50_feb_topstocks

                                    Weightage (%)  Monthly Return
Security Name
Zee Entertainment Enterprises Ltd.           0.60           22.75
Yes Bank Ltd.                                0.99           19.09
Bajaj Auto Ltd.                              0.91           13.55
Tech Mahindra Ltd.                           1.21           13.42
UPL Ltd.                                     0.75           11.58

#### 7. Niftynext50 top stocks: September 2018

In [141]:
niftynext50_sep_topstocks

                                              Weightage (%)  Monthly Return
Security Name
Biocon Ltd.                                            2.27       10.793269
ABB India Ltd.                                         1.17        7.749924
Aurobindo Pharma Ltd.                                  3.27        4.447562
Oil India Ltd.                                         0.93        2.785581
ICICI Lombard General Insurance Company Ltd.           1.15        1.570648

#### 8. Niftynext50 top stocks: October 2018

In [142]:
niftynext50_nov_topstocks

                          Weightage (%)  Monthly Return
Security Name
Bandhan Bank Ltd.                  0.89           23.93
Pidilite Industries Ltd.           2.74           21.32
Shree Cement Ltd.                  3.11           18.47
InterGlobe Aviation Ltd.           1.54           16.80
United Spirits Ltd.                3.10           16.57

#### 9. Niftynext50 top stocks: November 2018

In [143]:
niftynext50_oct_topstocks

                                 Weightage (%)  Monthly Return
Security Name
Bharat Electronics Ltd.                   1.24           15.88
United Spirits Ltd.                       2.76           12.15
Bank of Baroda                            1.69           11.21
SBI Life Insurance Company Ltd.           1.08            9.54
Havells India Ltd.                        2.60            8.63

#### 10. Niftynext50 top stocks: December 2018

In [144]:
niftynext50_dec_topstocks

                                Weightage (%)  Monthly Return
Security Name
Bandhan Bank Ltd.                        0.98           13.75
Bank of Baroda                           1.69           13.09
InterGlobe Aviation Ltd.                 1.67           12.21
Colgate Palmolive (India) Ltd.           2.67           10.16
Siemens Ltd.                             1.39           10.12

#### 11. Niftynext50 top stocks: January 2019

In [145]:
niftynext50_jan_topstocks

                       Weightage (%)  Monthly Return
Security Name
Aurobindo Pharma Ltd.           3.50            7.48
Lupin Ltd.                      3.32            3.72
Havells India Ltd.              2.82            3.17
Biocon Ltd.                     2.15            3.06
Dabur India Ltd.                3.97            3.02

#### 12. Niftynext50 top stocks: February 2019

In [146]:
niftynext50_feb_topstocks

                             Weightage (%)  Monthly Return
Security Name
Bandhan Bank Ltd.                     0.91           18.84
Motherson Sumi Systems Ltd.           3.09           15.65
Sun TV Network Ltd.                   0.95           14.74
Piramal Enterprises Ltd.              3.24           14.47
Aditya Birla Capital Ltd.             0.87           13.46

# -----------------------------------------------------------------------------------------------------------

# Detailed Analysis

## 1. Nifty50 : September 2018

### Exploratory Data Analysis

In [19]:
nifty50_sep.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25883.17,0.59,1.27,0.25,1.85,-14.158946,0.05
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,58304.93,1.34,0.74,0.16,1.55,-5.767059,0.03
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,108698.56,2.50,1.34,0.22,1.66,-5.544859,0.03
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,36549.99,0.84,1.02,0.21,1.86,-2.091189,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,51374.45,1.18,1.24,0.19,2.52,-24.105580,0.03

In [20]:
nifty50_sep.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [21]:
nifty50_sep.shape

(50, 11)

In [22]:
nifty50_sep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null int64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [23]:
nifty50_sep.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1.382760e+10,87101.662000,1.999400,1.028400,0.179400,1.945600,-7.367859,0.029400
std,2.252132e+10,97970.637728,2.250168,0.392758,0.093534,0.929358,9.310695,0.011323
min,2.726770e+08,18775.090000,0.430000,0.220000,0.010000,1.000000,-46.535662,0.020000
25%,1.748986e+09,33688.565000,0.772500,0.742500,0.120000,1.542500,-10.946277,0.020000
50%,4.379078e+09,43271.515000,0.995000,1.010000,0.185000,1.825000,-6.695279,0.030000
75%,1.270909e+10,94833.562500,2.175000,1.247500,0.250000,2.117500,-1.709967,0.030000
max,9.711810e+10,430565.740000,9.890000,1.760000,0.380000,7.120000,7.551867,0.090000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [24]:
nifty50_sep_byperformance=nifty50_sep.sort_values(by='Monthly Return', ascending=False)

In [25]:
nifty50_sep_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
48,WIPRO,Wipro Ltd.,COMPUTERS - SOFTWARE,9048094464,36644.78,0.84,0.33,0.03,1.20,7.551867,0.02
40,TCS,Tata Consultancy Services Ltd.,COMPUTERS - SOFTWARE,3828575182,234092.87,5.38,0.22,0.01,1.51,5.066397,0.02
16,HCLTECH,HCL Technologies Ltd.,COMPUTERS - SOFTWARE,2785043328,60591.40,1.39,0.36,0.02,1.15,3.951455,0.02
7,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES,21692527440,29218.53,0.67,1.04,0.12,2.39,3.327810,0.02
47,VEDL,Vedanta Ltd.,MINING,3717196639,43175.24,0.99,1.70,0.29,2.24,2.020202,0.02

Extracting top 5 stocks

In [26]:
nifty50_sep_topstocks=nifty50_sep_byperformance.iloc[:5,[1,5,9]]

In [27]:
nifty50_sep_topstocks

                            Security Name  Weightage (%)  Monthly Return
Sr. No
48                             Wipro Ltd.           0.84        7.551867
40         Tata Consultancy Services Ltd.           5.38        5.066397
16                  HCL Technologies Ltd.           1.39        3.951455
7       Bharat Petroleum Corporation Ltd.           0.67        3.327810
47                           Vedanta Ltd.           0.99        2.020202

## 2. Nifty50 : October 2018

### Exploratory Data Analysis

In [28]:
nifty50_oct.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25092.27,0.61,1.32,0.30,3.17,-3.06,0.04
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,55469.26,1.34,0.84,0.23,2.40,-4.86,0.02
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,103230.40,2.49,1.28,0.28,2.80,-5.03,0.03
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,35274.97,0.85,0.98,0.23,2.09,-3.49,0.04
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,56458.58,1.36,1.51,0.28,4.46,9.90,0.03

In [29]:
nifty50_oct.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [30]:
nifty50_oct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null int64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [31]:
nifty50_oct.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.00000,50.00000,50.000000,50.000000,50.000000,50.000000
mean,1.382760e+10,82767.866400,2.00020,1.04360,0.210400,2.891400,-5.004400,0.032800
std,2.252132e+10,91782.910784,2.21829,0.38706,0.100488,1.327666,7.802877,0.013254
min,2.726770e+08,16736.680000,0.40000,0.30000,0.030000,0.980000,-26.470000,0.020000
25%,1.748986e+09,32734.007500,0.79000,0.72750,0.132500,2.150000,-10.005000,0.030000
50%,4.379078e+09,38904.710000,0.94000,1.07000,0.220000,2.595000,-4.510000,0.030000
75%,1.270909e+10,84157.195000,2.03750,1.35000,0.287500,3.232500,0.342500,0.037500
max,9.711810e+10,410032.420000,9.91000,2.10000,0.420000,7.830000,16.180000,0.100000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [32]:
nifty50_oct_byperformance=nifty50_oct.sort_values(by='Monthly Return', ascending=False)

In [33]:
nifty50_oct_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
24,ICICIBANK,ICICI Bank Ltd.,BANKS,12868342266,228413.08,5.52,1.43,0.31,3.24,16.18,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,56458.58,1.36,1.51,0.28,4.46,9.90,0.03
38,SBIN,State Bank of India,BANKS,8924587534,105477.92,2.55,1.61,0.36,3.21,5.99,0.02
44,TITAN,Titan Company Ltd.,"GEMS, JEWELLERY AND WATCHES",887786160,35241.74,0.85,1.00,0.13,2.63,4.84,0.03
50,ZEEL,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,960463070,25129.36,0.61,0.67,0.13,2.37,2.85,0.03

Extracting top 5 stocks

In [34]:
nifty50_oct_topstocks=nifty50_oct_byperformance.iloc[:5,[1,5,9]]

In [35]:
nifty50_oct_topstocks

                             Security Name  Weightage (%)  Monthly Return
Sr. No
24                         ICICI Bank Ltd.           5.52           16.18
5                       Bajaj Finance Ltd.           1.36            9.90
38                     State Bank of India           2.55            5.99
44                      Titan Company Ltd.           0.85            4.84
50      Zee Entertainment Enterprises Ltd.           0.61            2.85

## 3. Nifty50 : November 2018

### Exploratory Data Analysis

In [36]:
nifty50_nov.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,28775.25,0.66,1.33,0.30,1.87,14.68,0.03
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,60678.52,1.40,0.89,0.25,1.45,9.39,0.02
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,110914.18,2.56,1.24,0.27,1.66,7.44,0.02
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,37342.21,0.86,1.04,0.25,1.50,5.86,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,60135.13,1.39,1.46,0.26,1.82,6.51,0.02

In [37]:
nifty50_nov.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [38]:
nifty50_nov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null int64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [39]:
nifty50_nov.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1.382760e+10,86608.372800,1.999200,1.044400,0.210400,1.888600,2.464600,0.025400
std,2.252132e+10,99858.430018,2.306448,0.373697,0.100488,0.677598,8.858545,0.006455
min,2.726770e+08,17348.950000,0.400000,0.320000,0.030000,0.940000,-15.110000,0.020000
25%,1.748986e+09,32098.647500,0.742500,0.747500,0.132500,1.502500,-4.297500,0.020000
50%,4.379078e+09,39814.255000,0.920000,1.080000,0.230000,1.755000,3.460000,0.020000
75%,1.270909e+10,97216.290000,2.245000,1.330000,0.280000,2.220000,9.957500,0.030000
max,9.711810e+10,456510.260000,10.540000,2.000000,0.430000,5.060000,17.920000,0.040000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [40]:
nifty50_nov_byperformance=nifty50_nov.sort_values(by='Monthly Return', ascending=False)

In [41]:
nifty50_nov_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
7,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES,21692527440,25333.40,0.59,1.58,0.21,2.77,17.92,0.03
33,MARUTI,Maruti Suzuki India Ltd.,AUTOMOBILES - 4 WHEELERS,1510400300,101834.33,2.35,1.11,0.33,1.92,15.80,0.02
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,28775.25,0.66,1.33,0.30,1.87,14.68,0.03
27,INDUSINDBK,IndusInd Bank Ltd.,BANKS,6010120300,83362.17,1.93,0.93,0.23,1.95,14.50,0.03
46,ULTRACEMCO,UltraTech Cement Ltd.,CEMENT AND CEMENT PRODUCTS,2746258690,41739.48,0.96,1.08,0.30,1.61,14.30,0.03

Extracting top 5 stocks

In [42]:
nifty50_nov_topstocks=nifty50_nov_byperformance.iloc[:5,[1,5,9]]

In [43]:
nifty50_nov_topstocks

,Security Name,Weightage (%),Monthly Return
Sr. No,,,
7,Bharat Petroleum Corporation Ltd.,0.59,17.92
33,Maruti Suzuki India Ltd.,2.35,15.80
1,Adani Ports and Special Economic Zone Ltd.,0.66,14.68
27,IndusInd Bank Ltd.,1.93,14.50
46,UltraTech Cement Ltd.,0.96,14.30

## 4. Nifty50 : December 2018

### Exploratory Data Analysis

In [44]:
nifty50_dec.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,30510.50,0.70,1.41,0.33,2.28,6.03,0.03
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,61900.25,1.42,0.94,0.27,1.87,2.01,0.02
3,AXISBANK,Axis Bank Ltd.,BANKS,5139752272,109921.57,2.53,1.26,0.28,1.55,-0.93,0.02
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,36994.72,0.85,1.03,0.26,1.58,-0.93,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,62681.34,1.44,1.46,0.27,1.69,4.23,0.02

In [45]:
nifty50_dec.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [46]:
nifty50_dec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null int64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [47]:
nifty50_dec.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1.382822e+10,86920.510200,1.999200,1.038200,0.215600,1.794600,1.269600,0.025400
std,2.252136e+10,98146.931588,2.257753,0.362805,0.104689,0.564776,5.092039,0.006764
min,2.727475e+08,18909.500000,0.440000,0.330000,0.030000,1.010000,-12.610000,0.010000
25%,1.749290e+09,32518.670000,0.750000,0.760000,0.127500,1.450000,-1.562500,0.020000
50%,4.382905e+09,40786.450000,0.940000,1.100000,0.230000,1.650000,0.385000,0.020000
75%,1.272142e+10,94881.810000,2.180000,1.330000,0.280000,1.980000,3.615000,0.030000
max,9.711810e+10,455658.290000,10.480000,2.070000,0.440000,3.890000,19.320000,0.040000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [48]:
nifty50_dec_byperformance=nifty50_dec.sort_values(by='Monthly Return', ascending=False)

In [49]:
nifty50_dec_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
25,IBULHSGFIN,Indiabulls Housing Finance Ltd.,FINANCE - HOUSING,853391352,28418.06,0.65,2.07,0.27,3.89,19.32,0.04
7,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES,21692527440,29115.17,0.67,1.42,0.18,1.52,11.82,0.03
36,POWERGRID,Power Grid Corporation of India Ltd.,POWER,52315896480,45727.23,1.05,0.54,0.12,1.39,10.27,0.03
20,HINDPETRO,Hindustan Petroleum Corporation Ltd.,REFINERIES,15238226250,18909.50,0.44,1.35,0.11,1.71,9.00,0.03
6,BAJAJFINSV,Bajaj Finserv Ltd.,FINANCE,795680555,39167.23,0.90,1.42,0.34,2.15,8.05,0.03

Extracting top 5 stocks

In [50]:
nifty50_dec_topstocks=nifty50_dec_byperformance.iloc[:5,[1,5,9]]

In [51]:
nifty50_dec_topstocks

                               Security Name  Weightage (%)  Monthly Return
Sr. No
25           Indiabulls Housing Finance Ltd.           0.65           19.32
7          Bharat Petroleum Corporation Ltd.           0.67           11.82
36      Power Grid Corporation of India Ltd.           1.05           10.27
20      Hindustan Petroleum Corporation Ltd.           0.44            9.00
6                         Bajaj Finserv Ltd.           0.90            8.05

## 5. Nifty50 : January 2019

### Exploratory Data Analysis

In [52]:
nifty50_jan.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,26650.46,0.62,1.46,0.31,3.28,-12.65,0.03
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,63683.25,1.47,0.92,0.27,0.91,2.88,0.01
3,AXISBANK,Axis Bank Ltd.,BANKS,5139752272,128150.21,2.96,1.28,0.29,1.85,16.58,0.02
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,34742.52,0.80,1.01,0.25,1.24,-6.09,0.02
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,61015.46,1.41,1.42,0.27,1.73,-2.66,0.02

In [53]:
nifty50_jan.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [54]:
nifty50_jan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null int64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [55]:
nifty50_jan.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.0000,50.00000
mean,1.382822e+10,86667.890400,2.000000,1.034400,0.217000,1.695600,-2.9826,0.02300
std,2.252136e+10,101454.446136,2.340997,0.359524,0.106814,0.919565,8.6495,0.00544
min,2.727475e+08,17434.820000,0.400000,0.270000,0.020000,0.830000,-22.1500,0.01000
25%,1.749290e+09,31064.437500,0.715000,0.760000,0.130000,1.242500,-7.8175,0.02000
50%,4.382905e+09,40984.605000,0.945000,1.095000,0.240000,1.505000,-2.5300,0.02000
75%,1.272142e+10,85464.760000,1.975000,1.312500,0.287500,1.867500,2.4625,0.03000
max,9.711810e+10,446692.020000,10.310000,2.030000,0.460000,6.740000,16.5800,0.03000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [56]:
nifty50_jan_byperformance=nifty50_jan.sort_values(by='Monthly Return', ascending=False)

In [57]:
nifty50_jan_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
3,AXISBANK,Axis Bank Ltd.,BANKS,5139752272,128150.21,2.96,1.28,0.29,1.85,16.58,0.02
28,INFY,Infosys Ltd.,COMPUTERS - SOFTWARE,21843026090,284880.46,6.57,0.59,0.10,1.30,13.75,0.02
9,INFRATEL,Bharti Infratel Ltd.,TELECOMMUNICATION - EQUIPMENT,18496082460,24865.21,0.57,0.27,0.02,2.59,12.84,0.03
48,WIPRO,Wipro Ltd.,COMPUTERS - SOFTWARE,9048230346,41757.58,0.96,0.46,0.07,1.96,11.59,0.02
37,RELIANCE,Reliance Industries Ltd.,REFINERIES,63385607220,420031.70,9.69,1.38,0.44,1.70,9.44,0.02

Extracting top 5 stocks

In [58]:
nifty50_jan_topstocks=nifty50_jan_byperformance.iloc[:5,[1,5,9]]

In [59]:
nifty50_jan_topstocks

                   Security Name  Weightage (%)  Monthly Return
Sr. No
3                 Axis Bank Ltd.           2.96           16.58
28                  Infosys Ltd.           6.57           13.75
9           Bharti Infratel Ltd.           0.57           12.84
48                    Wipro Ltd.           0.96           11.59
37      Reliance Industries Ltd.           9.69            9.44

## 6. Nifty50 : February 2019

### Exploratory Data Analysis

In [60]:
nifty50_feb.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25643.15,0.59,1.40,0.25,2.58,-3.78,0.03
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,63349.64,1.47,0.98,0.29,1.15,-0.52,0.02
3,AXISBANK,Axis Bank Ltd.,BANKS,5139752272,125818.44,2.91,1.21,0.26,0.90,-1.82,0.02
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,39448.88,0.91,0.95,0.22,1.18,13.55,0.02
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,62772.57,1.45,1.45,0.28,1.45,2.88,0.02

In [61]:
nifty50_feb.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [62]:
nifty50_feb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null int64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [63]:
nifty50_feb.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1.382822e+10,86360.051000,2.000000,1.038000,0.206800,1.884800,1.689600,0.025800
std,2.252136e+10,99683.646907,2.308406,0.367906,0.103044,1.079182,6.607583,0.007025
min,2.727475e+08,16676.940000,0.390000,0.170000,0.010000,0.790000,-14.160000,0.020000
25%,1.749290e+09,31588.280000,0.732500,0.775000,0.130000,1.270000,-2.100000,0.020000
50%,4.382905e+09,42022.770000,0.970000,1.060000,0.215000,1.605000,0.400000,0.020000
75%,1.272142e+10,86938.782500,2.012500,1.350000,0.280000,2.092500,4.945000,0.030000
max,9.711810e+10,446176.600000,10.330000,2.120000,0.440000,7.020000,22.750000,0.040000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [64]:
nifty50_feb_byperformance=nifty50_feb.sort_values(by='Monthly Return', ascending=False)

In [65]:
nifty50_feb_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
50,ZEEL,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,960466500,25998.48,0.60,0.69,0.04,3.28,22.75,0.04
49,YESBANK,Yes Bank Ltd.,BANKS,4623905770,42752.63,0.99,1.09,0.05,7.02,19.09,0.04
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,39448.88,0.91,0.95,0.22,1.18,13.55,0.02
43,TECHM,Tech Mahindra Ltd.,COMPUTERS - SOFTWARE,4905969755,52130.44,1.21,0.71,0.09,1.94,13.42,0.02
45,UPL,UPL Ltd.,PESTICIDES AND AGROCHEMICALS,1018685340,32183.94,0.75,1.28,0.23,1.21,11.58,0.02

Extracting top 5 stocks

In [66]:
nifty50_feb_topstocks=nifty50_feb_byperformance.iloc[:5,[1,5,9]]

In [67]:
nifty50_feb_topstocks

                             Security Name  Weightage (%)  Monthly Return
Sr. No
50      Zee Entertainment Enterprises Ltd.           0.60           22.75
49                           Yes Bank Ltd.           0.99           19.09
4                          Bajaj Auto Ltd.           0.91           13.55
43                      Tech Mahindra Ltd.           1.21           13.42
45                                UPL Ltd.           0.75           11.58

## 7. Niftynext50 : September 2018

### Exploratory Data Analysis

In [68]:
niftynext50_sep.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,7468.71,1.17,0.83,0.13,2.06,7.749924,0.08
2,ACC,ACC Ltd.,CEMENT AND CEMENT PRODUCTS,1.877872e+09,13118.01,2.05,1.13,0.20,1.90,-5.272311,0.04
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201330e+10,6309.56,0.99,1.11,0.18,1.70,-18.831858,0.08
4,AMBUJACEM,Ambuja Cements Ltd.,CEMENT AND CEMENT PRODUCTS,3.971290e+09,16423.97,2.57,1.16,0.20,2.07,-7.375181,0.05
5,ASHOKLEY,Ashok Leyland Ltd.,AUTOMOBILES - 4 WHEELERS,2.935527e+09,17131.44,2.68,0.98,0.09,1.95,-7.710190,0.03

In [69]:
niftynext50_sep.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [70]:
niftynext50_sep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null float64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(8), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [71]:
niftynext50_sep.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,9.050354e+09,12800.024000,1.999600,1.051000,0.142600,2.264600,-11.595533,0.061000
std,1.938434e+10,6434.628639,1.005465,0.452143,0.073867,0.673402,9.689559,0.026897
min,4.241143e+07,5100.930000,0.800000,0.060000,0.000000,1.090000,-34.946061,0.030000
25%,7.602659e+08,7372.747500,1.155000,0.785000,0.080000,1.812500,-18.305163,0.050000
50%,2.436885e+09,11339.930000,1.770000,1.090000,0.150000,2.150000,-10.839207,0.050000
75%,8.397978e+09,16640.262500,2.600000,1.280000,0.197500,2.665000,-5.497071,0.070000
max,1.030000e+11,34287.590000,5.360000,2.300000,0.300000,4.220000,10.793269,0.180000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [72]:
niftynext50_sep_byperformance=niftynext50_sep.sort_values(by='Monthly Return', ascending=False)

In [73]:
niftynext50_sep_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
12,BIOCON,Biocon Ltd.,PHARMACEUTICALS,3.000000e+09,14518.35,2.27,1.12,0.10,2.87,10.793269,0.04
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,7468.71,1.17,0.83,0.13,2.06,7.749924,0.08
6,AUROPHARMA,Aurobindo Pharma Ltd.,PHARMACEUTICALS,5.859076e+08,20936.59,3.27,1.20,0.16,3.28,4.447562,0.03
36,OIL,Oil India Ltd.,OIL EXPLORATION/PRODUCTION,1.134904e+10,5980.04,0.93,0.51,0.04,1.65,2.785581,0.05
25,ICICIGI,ICICI Lombard General Insurance Company Ltd.,FINANCE,4.540584e+09,7340.76,1.15,0.57,0.04,3.19,1.570648,0.07

Extracting top 5 stocks

In [74]:
niftynext50_sep_topstocks=niftynext50_sep_byperformance.iloc[:5,[1,5,9]]

In [75]:
niftynext50_sep_topstocks

,Security Name,Weightage (%),Monthly Return
Sr. No,,,
12,Biocon Ltd.,2.27,10.793269
1,ABB India Ltd.,1.17,7.749924
6,Aurobindo Pharma Ltd.,3.27,4.447562
36,Oil India Ltd.,0.93,2.785581
25,ICICI Lombard General Insurance Company Ltd.,1.15,1.570648

## 8. Niftynext50 : October 2018

### Exploratory Data Analysis

In [76]:
niftynext50_oct.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,6776.56,1.09,0.85,0.17,1.89,-9.27,0.09
2,ACC,ACC Ltd.,CEMENT AND CEMENT PRODUCTS,1.877872e+09,11617.64,1.87,1.13,0.23,2.49,-11.44,0.03
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201330e+10,5753.73,0.92,1.21,0.24,2.93,-8.81,0.06
4,AMBUJACEM,Ambuja Cements Ltd.,CEMENT AND CEMENT PRODUCTS,3.971290e+09,14484.39,2.33,1.17,0.25,2.33,-11.81,0.04
5,ASHOKLEY,Ashok Leyland Ltd.,AUTOMOBILES - 4 WHEELERS,2.935527e+09,16498.54,2.65,1.15,0.14,3.02,-3.69,0.03

In [77]:
niftynext50_oct.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [78]:
niftynext50_oct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null float64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(8), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [79]:
niftynext50_oct.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,9.071407e+09,12451.876600,2.000200,1.010000,0.162600,2.696000,-2.280600,0.064800
std,1.937722e+10,6166.839411,0.990944,0.406503,0.083295,0.881085,7.915064,0.042148
min,4.241143e+07,4654.920000,0.750000,0.020000,0.000000,1.210000,-30.960000,0.030000
25%,7.602659e+08,7439.070000,1.195000,0.805000,0.102500,2.170000,-5.667500,0.050000
50%,2.686352e+09,11077.895000,1.780000,1.030000,0.170000,2.635000,-3.055000,0.050000
75%,8.397978e+09,16567.277500,2.657500,1.217500,0.220000,3.042500,1.150000,0.067500
max,1.030000e+11,33231.320000,5.340000,1.890000,0.360000,5.370000,15.880000,0.290000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [80]:
niftynext50_oct_byperformance=niftynext50_oct.sort_values(by='Monthly Return', ascending=False)

In [81]:
niftynext50_oct_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
10,BEL,Bharat Electronics Ltd.,ELECTRONICS - INDUSTRIAL,2.436593e+09,7708.65,1.24,1.01,0.09,3.13,15.88,0.04
49,MCDOWELL-N,United Spirits Ltd.,BREW/DISTILLERIES,1.453277e+09,17184.13,2.76,1.26,0.21,2.83,12.15,0.06
9,BANKBARODA,Bank of Baroda,BANKS,5.291032e+09,10538.15,1.69,1.71,0.21,2.99,11.21,0.05
42,SBILIFE,SBI Life Insurance Company Ltd.,FINANCE,1.000000e+10,6724.80,1.08,0.45,0.04,2.46,9.54,0.08
23,HAVELLS,Havells India Ltd.,ELECTRICAL EQUIPMENT,6.254729e+08,16157.22,2.60,1.20,0.22,2.85,8.63,0.05

Extracting top 5 stocks

In [82]:
niftynext50_oct_topstocks=niftynext50_oct_byperformance.iloc[:5,[1,5,9]]

In [83]:
niftynext50_oct_topstocks

                          Security Name  Weightage (%)  Monthly Return
Sr. No
10              Bharat Electronics Ltd.           1.24           15.88
49                  United Spirits Ltd.           2.76           12.15
9                        Bank of Baroda           1.69           11.21
42      SBI Life Insurance Company Ltd.           1.08            9.54
23                   Havells India Ltd.           2.60            8.63

## 9. Niftynext50 : November 2018

### Exploratory Data Analysis

In [84]:
niftynext50_nov.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,7462.88,1.15,0.83,0.16,1.33,10.13,0.05
2,ACC,ACC Ltd.,CEMENT AND CEMENT PRODUCTS,1.877872e+09,12553.10,1.94,1.18,0.25,1.67,8.05,0.03
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201330e+10,5781.24,0.89,1.14,0.24,2.19,0.48,0.07
4,AMBUJACEM,Ambuja Cements Ltd.,CEMENT AND CEMENT PRODUCTS,3.971290e+09,15975.81,2.47,1.22,0.28,1.33,10.30,0.04
5,ASHOKLEY,Ashok Leyland Ltd.,AUTOMOBILES - 4 WHEELERS,2.935527e+09,16160.52,2.50,1.16,0.14,2.93,-2.05,0.03

In [85]:
niftynext50_nov.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [86]:
niftynext50_nov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null float64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(8), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [87]:
niftynext50_nov.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,9.071407e+09,12933.416400,1.999800,0.985600,0.158200,1.953200,2.920200,0.047800
std,1.937722e+10,6766.000747,1.046989,0.392393,0.081483,0.731776,8.971924,0.021973
min,4.241143e+07,4876.020000,0.750000,0.020000,0.000000,0.730000,-14.200000,0.020000
25%,7.602659e+08,7490.130000,1.155000,0.735000,0.092500,1.425000,-4.445000,0.040000
50%,2.686352e+09,11278.955000,1.745000,1.000000,0.160000,1.865000,2.090000,0.040000
75%,8.397978e+09,17042.445000,2.635000,1.207500,0.210000,2.277500,8.880000,0.050000
max,1.030000e+11,37325.700000,5.770000,1.850000,0.340000,5.410000,23.930000,0.130000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [88]:
niftynext50_nov_byperformance=niftynext50_nov.sort_values(by='Monthly Return', ascending=False)

In [89]:
niftynext50_nov_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
8,BANDHANBNK,Bandhan Bank Ltd.,BANKS,1.192805e+10,5769.00,0.89,1.34,0.12,2.51,23.93,0.06
39,PIDILITIND,Pidilite Industries Ltd.,CHEMICALS - SPECIALITY,5.078367e+08,17722.99,2.74,0.97,0.20,1.88,21.32,0.04
43,SHREECEM,Shree Cement Ltd.,CEMENT AND CEMENT PRODUCTS,3.483722e+08,20103.07,3.11,1.01,0.21,1.63,18.47,0.06
27,INDIGO,InterGlobe Aviation Ltd.,TRAVEL AND TRANSPORT,3.844068e+09,9977.76,1.54,0.94,0.09,2.69,16.80,0.03
49,MCDOWELL-N,United Spirits Ltd.,BREW/DISTILLERIES,1.453277e+09,20032.27,3.10,1.18,0.18,2.46,16.57,0.04

Extracting top 5 stocks

In [90]:
niftynext50_nov_topstocks=niftynext50_nov_byperformance.iloc[:5,[1,5,9]]

In [91]:
niftynext50_nov_topstocks

                   Security Name  Weightage (%)  Monthly Return
Sr. No
8              Bandhan Bank Ltd.           0.89           23.93
39      Pidilite Industries Ltd.           2.74           21.32
43             Shree Cement Ltd.           3.11           18.47
27      InterGlobe Aviation Ltd.           1.54           16.80
49           United Spirits Ltd.           3.10           16.57

## 10. Niftynext50 : December 2018

### Exploratory Data Analysis

In [92]:
niftynext50_dec.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,7081.71,1.06,0.77,0.14,1.46,-5.11,0.05
2,ACC,ACC Ltd.,CEMENT AND CEMENT PRODUCTS,1.877872e+09,12744.08,1.90,1.27,0.29,2.03,1.52,0.02
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201396e+10,5943.77,0.89,1.15,0.25,1.56,-4.81,0.05
4,AMBUJACEM,Ambuja Cements Ltd.,CEMENT AND CEMENT PRODUCTS,3.971290e+09,16537.84,2.46,1.31,0.30,2.31,3.52,0.04
5,ASHOKLEY,Ashok Leyland Ltd.,AUTOMOBILES - 4 WHEELERS,2.935527e+09,14743.69,2.20,1.15,0.15,1.82,-8.77,0.03

In [93]:
niftynext50_dec.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [94]:
niftynext50_dec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null float64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(8), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [95]:
niftynext50_dec.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,9.072290e+09,13420.177800,2.000600,0.983200,0.164800,1.838800,2.238600,0.045800
std,1.937777e+10,6743.710154,1.005106,0.388143,0.086902,0.519366,5.952195,0.019907
min,4.241143e+07,4443.420000,0.660000,0.040000,0.000000,0.680000,-9.590000,0.020000
25%,7.603135e+08,8173.870000,1.215000,0.755000,0.092500,1.500000,-1.412500,0.032500
50%,2.686352e+09,12618.875000,1.880000,1.000000,0.170000,1.795000,3.320000,0.040000
75%,8.397978e+09,17754.562500,2.647500,1.207500,0.227500,2.140000,6.662500,0.050000
max,1.030000e+11,36685.690000,5.470000,1.840000,0.350000,3.040000,13.750000,0.110000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [96]:
niftynext50_dec_byperformance=niftynext50_dec.sort_values(by='Monthly Return', ascending=False)

In [97]:
niftynext50_dec_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
8,BANDHANBNK,Bandhan Bank Ltd.,BANKS,1.192805e+10,6562.22,0.98,1.30,0.12,2.88,13.75,0.05
9,BANKBARODA,Bank of Baroda,BANKS,5.291032e+09,11314.34,1.69,1.62,0.21,1.50,13.09,0.04
27,INDIGO,InterGlobe Aviation Ltd.,TRAVEL AND TRANSPORT,3.844068e+09,11196.33,1.67,0.89,0.08,2.15,12.21,0.03
16,COLPAL,Colgate Palmolive (India) Ltd.,PERSONAL CARE,2.719856e+08,17905.89,2.67,0.43,0.07,2.03,10.16,0.04
45,SIEMENS,Siemens Ltd.,ELECTRICAL EQUIPMENT,7.122405e+08,9320.56,1.39,1.06,0.23,1.91,10.12,0.03

Extracting top 5 stocks

In [98]:
niftynext50_dec_topstocks=niftynext50_dec_byperformance.iloc[:5,[1,5,9]]

In [99]:
niftynext50_dec_topstocks

                         Security Name  Weightage (%)  Monthly Return
Sr. No
8                    Bandhan Bank Ltd.           0.98           13.75
9                       Bank of Baroda           1.69           13.09
27            InterGlobe Aviation Ltd.           1.67           12.21
16      Colgate Palmolive (India) Ltd.           2.67           10.16
45                        Siemens Ltd.           1.39           10.12

## 11. Niftynext50 : January 2019

### Exploratory Data Analysis

In [100]:
niftynext50_jan.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,6740.28,1.07,0.69,0.13,1.39,-4.82,0.05
2,ACC,ACC Ltd.,CEMENT AND CEMENT PRODUCTS,1.877872e+09,12027.91,1.90,1.29,0.31,1.33,-5.62,0.03
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201396e+10,4814.45,0.76,1.17,0.26,1.32,-19.00,0.05
4,AMBUJACEM,Ambuja Cements Ltd.,CEMENT AND CEMENT PRODUCTS,3.971290e+09,15421.12,2.44,1.35,0.33,1.50,-6.75,0.03
5,ASHOKLEY,Ashok Leyland Ltd.,AUTOMOBILES - 4 WHEELERS,2.935527e+09,11694.26,1.85,1.09,0.14,1.54,-20.68,0.03

In [101]:
niftynext50_jan.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [102]:
niftynext50_jan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null float64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(8), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [103]:
niftynext50_jan.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000
mean,9.072290e+09,12647.123000,1.999600,0.966800,0.16460,1.564600,-6.487000,0.044400
std,1.937777e+10,6680.081457,1.055922,0.377961,0.08669,0.541081,7.698211,0.024173
min,4.241143e+07,4322.290000,0.680000,0.070000,0.00000,0.530000,-26.570000,0.020000
25%,7.603135e+08,7843.657500,1.237500,0.720000,0.10000,1.282500,-12.352500,0.030000
50%,2.686352e+09,11843.060000,1.875000,0.995000,0.17000,1.530000,-5.120000,0.040000
75%,8.397978e+09,17013.255000,2.692500,1.167500,0.23750,1.820000,-0.082500,0.047500
max,1.030000e+11,37654.820000,5.950000,1.820000,0.35000,2.950000,7.480000,0.140000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [104]:
niftynext50_jan_byperformance=niftynext50_jan.sort_values(by='Monthly Return', ascending=False)

In [105]:
niftynext50_jan_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
6,AUROPHARMA,Aurobindo Pharma Ltd.,PHARMACEUTICALS,5.859076e+08,22155.74,3.50,1.06,0.18,1.55,7.48,0.02
30,LUPIN,Lupin Ltd.,PHARMACEUTICALS,9.045325e+08,20990.63,3.32,0.94,0.18,0.95,3.72,0.03
23,HAVELLS,Havells India Ltd.,ELECTRICAL EQUIPMENT,6.254729e+08,17849.75,2.82,1.13,0.24,1.63,3.17,0.03
12,BIOCON,Biocon Ltd.,PHARMACEUTICALS,3.000000e+09,13614.30,2.15,1.00,0.17,0.99,3.06,0.03
19,DABUR,Dabur India Ltd.,PERSONAL CARE,1.766264e+09,25075.30,3.97,0.90,0.18,1.30,3.02,0.03

Extracting top 5 stocks

In [106]:
niftynext50_jan_topstocks=niftynext50_jan_byperformance.iloc[:5,[1,5,9]]

In [107]:
niftynext50_jan_topstocks

                Security Name  Weightage (%)  Monthly Return
Sr. No
6       Aurobindo Pharma Ltd.           3.50            7.48
30                 Lupin Ltd.           3.32            3.72
23         Havells India Ltd.           2.82            3.17
12                Biocon Ltd.           2.15            3.06
19           Dabur India Ltd.           3.97            3.02

## 12. Niftynext50 : February 2019

### Exploratory Data Analysis

In [108]:
niftynext50_feb.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ABB,ABB India Ltd.,ELECTRICAL EQUIPMENT,4.238168e+08,6500.55,1.03,0.67,0.12,0.84,-3.56,0.06
2,ACC,ACC Ltd.,CEMENT AND CEMENT PRODUCTS,1.877872e+09,12019.04,1.91,1.26,0.29,1.28,-0.07,0.02
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201396e+10,5462.32,0.87,1.16,0.23,2.11,13.46,0.06
4,AMBUJACEM,Ambuja Cements Ltd.,CEMENT AND CEMENT PRODUCTS,3.971290e+09,15579.07,2.47,1.40,0.35,1.56,1.02,0.04
5,ASHOKLEY,Ashok Leyland Ltd.,AUTOMOBILES - 4 WHEELERS,2.935527e+09,12442.23,1.97,1.20,0.15,2.97,6.40,0.04

In [109]:
niftynext50_feb.columns

Index(['Security Symbol', 'Security Name', 'Industry',
       'Equity Capital (In Rs.)',
       'Free Float Market Capitalisation (Rs. Crores)', 'Weightage (%)',
       'Beta', 'R2', 'Volatility (%)', 'Monthly Return',
       'Avg. Impact Cost (%)'],
      dtype='object')

In [110]:
niftynext50_feb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 11 columns):
Security Symbol                                  50 non-null object
Security Name                                    50 non-null object
Industry                                         50 non-null object
Equity Capital (In Rs.)                          50 non-null float64
Free Float Market Capitalisation (Rs. Crores)    50 non-null float64
Weightage (%)                                    50 non-null float64
Beta                                             50 non-null float64
R2                                               50 non-null float64
Volatility (%)                                   50 non-null float64
Monthly Return                                   50 non-null float64
Avg. Impact Cost (%)                             50 non-null float64
dtypes: float64(8), object(3)
memory usage: 4.7+ KB

Summary Statistics

In [111]:
niftynext50_feb.describe()

,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
count,5.000000e+01,50.000000,50.000000,50.000000,50.00000,50.000000,50.00000,50.000000
mean,9.076902e+09,12613.262800,2.000600,0.963000,0.15600,1.797800,0.55840,0.050000
std,1.937448e+10,6486.839039,1.028711,0.380039,0.08454,0.608462,7.56342,0.031816
min,4.241143e+07,4264.200000,0.680000,0.090000,0.00000,0.840000,-12.78000,0.020000
25%,7.603135e+08,7651.572500,1.212500,0.697500,0.09000,1.417500,-4.95500,0.030000
50%,2.967764e+09,11589.795000,1.835000,0.960000,0.15500,1.600000,-0.24000,0.040000
75%,8.397978e+09,16763.770000,2.660000,1.197500,0.23000,2.125000,5.23000,0.050000
max,1.030000e+11,35996.820000,5.710000,1.810000,0.35000,3.530000,18.84000,0.200000

### Top 5 stocks by performance

Arranging the stocks in descending order by Monthly Returns

In [112]:
niftynext50_feb_byperformance=niftynext50_feb.sort_values(by='Monthly Return', ascending=False)

In [113]:
niftynext50_feb_byperformance.head()

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
8,BANDHANBNK,Bandhan Bank Ltd.,BANKS,1.192805e+10,5726.06,0.91,1.19,0.10,1.81,18.84,0.04
33,MOTHERSUMI,Motherson Sumi Systems Ltd.,AUTO ANCILLARIES,3.157934e+09,19512.24,3.09,1.23,0.16,3.53,15.65,0.04
47,SUNTV,Sun TV Network Ltd.,MEDIA & ENTERTAINMENT,1.970423e+09,5992.55,0.95,1.07,0.12,3.32,14.74,0.04
40,PEL,Piramal Enterprises Ltd.,PHARMACEUTICALS,3.661695e+08,20445.88,3.24,1.60,0.25,2.19,14.47,0.03
3,ABCAPITAL,Aditya Birla Capital Ltd.,FINANCE,2.201396e+10,5462.32,0.87,1.16,0.23,2.11,13.46,0.06

Extracting top 5 stocks

In [114]:
niftynext50_feb_topstocks=niftynext50_feb_byperformance.iloc[:5,[1,5,9]]

In [115]:
niftynext50_feb_topstocks

                      Security Name  Weightage (%)  Monthly Return
Sr. No
8                 Bandhan Bank Ltd.           0.91           18.84
33      Motherson Sumi Systems Ltd.           3.09           15.65
47              Sun TV Network Ltd.           0.95           14.74
40         Piramal Enterprises Ltd.           3.24           14.47
3         Aditya Birla Capital Ltd.           0.87           13.46

# -------------------------------------------------------------------

In [118]:
import plotly
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff
py.init_notebook_mode(connected=True)

In [119]:
plotly.tools.set_credentials_file(username='Devanshi', api_key='1a7VAfB8ovyuue1c2ujf')

In [151]:
nifty50_sep.head(10)

,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
Sr. No,,,,,,,,,,,
1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,SHIPPING,4141903522,25883.17,0.59,1.27,0.25,1.85,-14.158946,0.05
2,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,58304.93,1.34,0.74,0.16,1.55,-5.767059,0.03
3,AXISBANK,Axis Bank Ltd.,BANKS,5137681032,108698.56,2.50,1.34,0.22,1.66,-5.544859,0.03
4,BAJAJ-AUTO,Bajaj Auto Ltd.,AUTOMOBILES - 2 AND 3 WHEELERS,2893670200,36549.99,0.84,1.02,0.21,1.86,-2.091189,0.03
5,BAJFINANCE,Bajaj Finance Ltd.,FINANCE,1155936776,51374.45,1.18,1.24,0.19,2.52,-24.105580,0.03
6,BAJAJFINSV,Bajaj Finserv Ltd.,FINANCE,795675485,36320.29,0.83,1.22,0.25,2.14,-10.990249,0.04
7,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES,21692527440,29218.53,0.67,1.04,0.12,2.39,3.327810,0.02
8,BHARTIARTL,Bharti Airtel Ltd.,TELECOMMUNICATION - SERVICES,19987000535,44659.55,1.03,1.25,0.15,2.08,-11.801485,0.04
9,INFRATEL,Bharti Infratel Ltd.,TELECOMMUNICATION - EQUIPMENT,18496082460,22372.31,0.51,0.64,0.05,2.19,-8.347856,0.04
10,CIPLA,Cipla Ltd.,PHARMACEUTICALS,1610433594,33179.08,0.76,0.86,0.13,1.37,-1.223288,0.03